.course {
  background-color: white;
  border-radius: 0.4rem;
}

.top-rated {
  background-color: lightgoldenrodyellow;
}

.star {
  color: gold;
}

.info-text {
  font-size: 0.8rem;
  color: gray;
}
